:root {
  --brand-color: #05668d;
  --brand-color-dark: #197278;
  --primary-color: #222;
  --color-white: #fff;
  --c-white: #fff;
  --font-size: 16px;
  --button-radius: 7.5px;
  --radius-50: 50%;
  --radius-40: 7.5px;
  --radius-12: 7.5px;
  --radius-8: 7.5px;
  --radius-4: 7.5px;
  --c-gold: #f4d06f;
  --c-pink: #ff595e;
  --c-green: #4ea661;
  --grey-1: #dddddd;
  --grey-2: #ccc;
  --grey-1a: #d8d8d8;
  --border-1: #ebebeb;
  --border-2: #b0b0b0;
  --color-light: #f7f7f7;
  --color-light-1: #ebebeb;
  --color-light-2: #f9f9f9;
  --color-medium: #717171;
  --success: #4caf50;
  --error: #c13515;
  --link-txt: #3858f6;
  --error-light: #fef7f5;
  --popup-bg: rgba(0, 0, 0, 0.2);
}
