[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plane:before {
  content: "\e914";
}
.icon-bike:before {
  content: "\e915";
}
.icon-food:before {
  content: "\e90f";
}
.icon-lunch:before {
  content: "\e90f";
}
.icon-soup:before {
  content: "\e90f";
}
.icon-stars:before {
  content: "\e902";
}
.icon-medal:before {
  content: "\e903";
}
.icon-arrow-left-thick:before {
  content: "\e918";
}
.icon-arrow-right-thick:before {
  content: "\e919";
}
.icon-arrow_forward_ios:before {
  content: "\e91a";
}
.icon-arrow_back_ios:before {
  content: "\e91b";
}
.icon-no_food:before {
  content: "\e90a";
}
.icon-lunch_dining:before {
  content: "\e90b";
}
.icon-emoji_food_beverage:before {
  content: "\e90c";
}
.icon-local_restaurant:before {
  content: "\e90d";
}
.icon-restaurant_menu:before {
  content: "\e90d";
}
.icon-clock:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e906";
}
.icon-share:before {
  content: "\e907";
}
.icon-globe:before {
  content: "\e908";
}
.icon-log-out:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e91f";
}
.icon-arrow-right:before {
  content: "\e91c";
}
.icon-arrow-left:before {
  content: "\e91d";
}
.icon-travel-train:before {
  content: "\e911";
}
.icon-travel-car:before {
  content: "\e912";
}
.icon-travel-bus:before {
  content: "\e913";
}
.icon-bookmark-outline:before {
  content: "\e904";
}
.icon-user-solid-circle:before {
  content: "\e905";
}
.icon-maximize:before {
  content: "\e916";
}
.icon-resize:before {
  content: "\e916";
}
.icon-arrows:before {
  content: "\e916";
}
.icon-expand:before {
  content: "\e916";
}
.icon-expand1:before {
  content: "\e917";
}
.icon-maximize1:before {
  content: "\e917";
}
.icon-fullscreen:before {
  content: "\e917";
}
.icon-arrows1:before {
  content: "\e917";
}
.icon-spoon-knife:before {
  content: "\e910";
}
.icon-food1:before {
  content: "\e910";
}
.icon-restaurant:before {
  content: "\e910";
}
.icon-book:before {
  content: "\e900";
}
.icon-read:before {
  content: "\e900";
}
.icon-bookmark:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-love:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e901";
}
.icon-favorite:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e947";
}
.icon-compass:before {
  content: "\e949";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-bullhorn:before {
  content: "\e91e";
}
.icon-phone:before {
  content: "\e942";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner8:before {
  content: "\e981";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-xing:before {
  content: "\ead3";
}
.icon-xing2:before {
  content: "\ead4";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-user-circle:before {
  content: "\e909";
}
