.scl-mobile-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  border-top: 1px solid var(--border-1);
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 10;
  &.transparent {
    background-color: transparent;
    border-top: 0;
  }
}
