.listing-loader {
  margin: auto;
  height: 200px;

  background-image: radial-gradient(
      circle 140px at 100px 100px,
      var(--border-1) 99%,
      transparent 0
    ),
    linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent),
    linear-gradient(var(--border-1) 15px, transparent 0),
    linear-gradient(var(--border-1) 15px, transparent 0),
    linear-gradient(var(--border-1) 20px, transparent 0),
    linear-gradient(var(--border-1) 20px, transparent 0),
    linear-gradient(var(--border-1) 40px, transparent 0),
    linear-gradient(var(--border-1) 25px, transparent 0);

  background-repeat: repeat-y;

  background-size: 200px 200px, 50px 200px, 150px 200px, 120px 200px,
    350px 200px, 220px 200px, 100% 200px, 80px 200px;

  background-position: 0 0, 0 0, 230px 0, 100% 0px, 230px 35px, 230px 75px,
    230px 115px, 100% 175px;

  animation: twinkle 1s infinite;
}

@keyframes twinkle {
  to {
    background-position: 0 0, 100% 0, 230px 0, 100% 0px, 230px 35px, 230px 75px,
      230px 115px, 100% 175px;
  }
}
